/* layout.css */
/* Wrapper usato nella home */
.content-wrapper {
  background-color: rgba(255, 255, 255, 0.85);
  margin: 80px auto 40px auto;
  padding: 40px;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Container usato in nuova_partita */
.container {
  margin-top: 100px;
  text-align: center;
}